{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy Admin | Editar receita de {{recipe.id}} </title>
{% endblock %}

{% block header %}
  <a href="/">
    <img src="../assets/logo.png" alt="">
  </a>
{% endblock %}
          

{% block content %}
      <div class="detail-title">
        <h3>Receita: {{recipe.title}}</h3>
        <a href="/admin/recipes/{{recipe.id}}/edit/">Editar receita</a>
      </div>
      <section class="recipe-page">
        <!-- recipe -->
        <div class="recipe-detail" id="{{recipe.id}}">
          <div class="recipe-detail-img-container">
              <img src="../assets/{{recipe.id}}.png" alt="">
          </div>
          <div class="recipe-detail-title">
            <p>{{recipe.title}}</p>
          </div>
          <div class="recipe-detail-author">
            <p>por {{recipe.author}}</p>
          </div>
        </div>
        
        <div class="minhaDiv">
          <h3>Ingredientes</h3>

          <button type="button" id="btn_ingredients" 
          onclick="Mudarestado('ingredients', 'btn_ingredients')">
            ESCONDER
          </button>
        </div>

        <div class="text" id="ingredients">
          <p class="ingredients">
            {% for ingredient in recipe.ingredients %}
              <li>
                {{ingredient}}
              </li>
            {% endfor %}
          </p>
        </div>
        

        
        <div class="minhaDiv">
          <h3>Modo de preparo</h3>

          <button type="button" id="btn_preparation" 
          onclick="Mudarestado('preparation', 'btn_preparation')">
            ESCONDER
          </button>
        </div>
        
        <div class="text" id="preparation">
          <p class="preparation">
            {% for preparation_step in recipe.preparation %}
              <li>
                {{preparation_step}}
              </li>
            {% endfor %}
          </p>
        <div>

        </section>

        {% if recipe.information %}
          <div class="minhaDiv">
            <h4 class="info">Informações adicionais</h4>

            <button type="button" id="btn_information" 
            onclick="Mudarestado('information', 'btn_information')">
              ESCONDER
            </button>
          </div>
          
            <div class="paragraphs" id="information">
              <p class="information">
                {% for info in recipeInfoParagraphs %}
                  {{info}}
                  {% if info == "" %}
                    <p class="space"> </p>
                  {% endif %}
                {% endfor %}
              </p>
            </div>

        {% endif %}
  
      <footer>
        <p>Todos os direitos reservados, receitas Foodfy.</p>
      </footer>

      <script src="/changeState.js"></script>

{% endblock %}
