{% extends "layout.njk" %}

{% block head %}
  <title>Erro 404 | Foodfy</title>
{% endblock %}

{% block content %}

  <section class="error">
    <p id="first">Erro 404 comumente aparece em páginas da internet quando nenhum conteúdo 
    foi encontrado para a rota.</p>
    <p id="middle">Lamentamos que o conteúdo buscado não foi encontrado.</p>
  </section>


{% endblock %}