{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy | Receita de {{recipe.id}} </title>
{% endblock %}

{% block header %}
  <a href="/">
    <img src="../assets/logo.png" alt="">
  </a>
{% endblock %}
          

{% block content %}

      <section class="recipe-page">
        <!-- recipe -->
        <div class="recipe-detail" id="{{recipe.id}}">
          <div class="recipe-detail-img-container">
              <img src="../assets/{{recipe.id}}.png" alt="">
          </div>
          <div class="recipe-detail-title">
            <p>{{recipe.title}}</p>
          </div>
          <div class="recipe-detail-author">
            <p>por {{recipe.author}}</p>
          </div>
        </div>
        
        <h3>Ingredientes</h3>
        <div class="text" id="ingredients">
          <p class="ingredients">
            {% for ingredient in recipe.ingredients %}
              <li>
                {{ingredient}}
              </li>
            {% endfor %}
          </p>
        </div>

        <h3>Modo de preparo</h3>
        <div class="text" id="preparation">
          <p class="preparation">
            {% for preparation_step in recipe.preparation %}
              <li>
                {{preparation_step}}
              </li>
            {% endfor %}
          </p>
        <div>

        <h4 class="info">Informações adicionais</h4>
        {# <div class="text" id="information"> #}
          <p class="information">
            {{recipe.information}}
          </p>
        {# <div> #}
      </section>
  
      <footer>
        <p>Todos os direitos reservados, receitas Foodfy.</p>
      </footer>

{% endblock %}
