{% extends "layout.njk" %}

{% block head %}
  <title>Gerenciar Receitas | Foodfy Admin</title>
{% endblock %}

{% block header %}
  <a href="/">
    <img src="../../../../assets/logo_dark_mode.png" alt="">
  </a>
{% endblock %}

{% block content %}
  <form class="form-create" method="POST" action="/admin/recipes">

      <div class="create-title">
        <h3>Criando receita</h3>
        <form id="form-delete" method="POST" action="/admin/recipes">
          <button type="submit" id="save-recipe">Salvar receita</button>
        </form>
      </div>

      <section class="create-recipe-page">
        <!-- recipe -->
        <div class="create-recipe-title">
          <h6>Nome da receita</h6>
          <div class="image-box">
            <input 
              type="text" 
              name="recipe-image" 
              value="" 
              placeholder="Nome da receita" 
            />
          </div>
        </div>

        <div class="create-recipe-title">
          <h6>Autor da receita</h6>
          <div class="image-box">
            <input 
              type="text" 
              name="recipe-image" 
              value="" 
              placeholder="Digite seu nome completo" 
            />
          </div>
        </div>

        <div class="edit-image">
          <h6>Imagem da receita</h6>
          <div class="image-box">
            <input 
              type="text" 
              name="recipe-image" 
              value="" 
              placeholder="URL da imagem" 
            />
          </div>
        </div>

        <div id="ingredients">
          <h6>Ingredientes</h6>
            <div class="ingredient"> 
              <input type="text" name="ingredients[]" value="" placeholder="Ingrediente" />
            </div> 
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

        <div id="preparations">
          <h6>Modo de preparo</h6>
            <div class="preparation-box">
              <input type="text" name="preparation[]" value="" placeholder="Modo de preparo" />
            </div>
        </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>

        <div class="edit-info">
          <h6>Informações adicionais</h6>
          <div class="info-box">
            <input 
              type="text" 
              name="preparation[]" 
              value="" 
              placeholder="Informações adicionais" 
            />
          </div>
        </div>

      </section>
  </form>

  <script src="/admin_scripts.js"></script>
  <script src="/addPreparation.js"></script>
  <script src="/addIngredient.js"></script>

{% endblock %}