{% extends "layout.njk" %}

{% block head %}
  <title>Gerenciar Receitas | Foodfy Admin</title>
{% endblock %}

{% block header %}
  <a href="/">
    <img src="../assets/logo_dark_mode.png" alt="">
  </a>
{% endblock %}

{% block content %}
  
  <div class="index-title">
    <h3>Gerenciar Receitas</h3>
    <a href="/admin/recipes/create">Nova</a>
  </div>

  <section class="recipes-index">
    {% for recipe in recipes %}
      <!-- recipes -->
      <div class="recipe-index" id="{{recipe.id}}">
        <div class="recipe-img-container">
          <a href="/admin/recipes/{{recipe.num}}">
            <img src="{{recipe.image}}" alt="../assets/{{recipe.id}}.png" class="recipe-img-adm">
          </a>
        </div>
        <div class="column_elements">
          <div class="recipe-content-admin">
            <p>{{recipe.title}}</p>
          </div>
          <div class="recipe-info-admin">
            <p>por {{recipe.author}}</p>
          </div>
          <div class="visualize">
            <a href="/admin/recipes/{{recipe.num}}">Visualizar</a>
          </div>
        </div>
      </div>
    {% endfor %}

  </section>

  <script src="/admin_scripts.js"></script>

{% endblock %}