{% extends "layout.njk" %} <!-- nunjucks: vai para arquivo layout.njk -->

{% block head %} <!-- nunjucks: title desse bloco é recebido em layout.njk -->
  <title>Foodfy | Receitas </title>
{% endblock %}
  
{% block content %}

  <section class="recipes">
    {% for recipe in recipes %}
      <!-- recipes -->
      <div class="recipe" id="{{recipe.id}}">
        <div class="recipe-img-container">
          <a href="/recipes/{{recipe.num}}">
            <img src="{{recipe.image}}" alt="../assets/{{recipe.id}}.png">
          </a>
        </div>
        <div class="recipe-content">
          <p>{{recipe.title}}</p>
        </div>
        <div class="recipe-info">
          <p>{{recipe.author}}</p>
        </div>
      </div>
    {% endfor %}

    {# add twice - to have a minimun amont of recipes #}
    {% for recipe in recipes %}
      <!-- recipes -->
      <div class="recipe" id="{{recipe.id}}">
        <div class="recipe-img-container">
          <a href="/recipes/{{recipe.num}}">
            <img src="{{recipe.image}}" alt="../assets/{{recipe.id}}.png">
          </a>
        </div>
        <div class="recipe-content">
          <p>{{recipe.title}}</p>
        </div>
        <div class="recipe-info">
          <p>{{recipe.author}}</p>
        </div>
      </div>
    {% endfor %}
  </section>

  <footer>
    <p>Todos os direitos reservados, receitas Foodfy.</p>
  </footer>

{% endblock %}